:root {
  --default-transition: all 300ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 0.5rem; */
  max-width: 73.8rem;
  height: 51.5rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 1rem 1rem 4rem rgba(43, 141, 233, 0.1);
  transition: var(--default-transition);
}

/********************/
/*   RESULTS   */
/********************/

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 6rem 3rem 6rem;

  text-align: center;
  color: #fff;
  border-radius: 2rem;

  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );

  transition: var(--default-transition);
}

.result-title {
  font-size: 2.4rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.score-container {
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border-radius: 2000rem;

  transition: var(--default-transition);
}

.result-score {
  font-size: 7rem;
  font-weight: 800;
}

.max-score {
  font-size: 1.8rem;
  color: hsla(0, 0%, 100%, 0.5);
}

.result-great {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.result-text {
  font-size: 1.8rem;
  color: hsla(0, 0%, 100%, 0.7);
}

/********************/
/*   SUMMARY   */
/********************/

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  padding: 2rem 4rem 3rem 4rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(224, 30%, 27%);
}

.summary-title {
  font-weight: 800;
  align-self: baseline;
  font-size: 2.4rem;
}

.metric-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.summary-metric {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  list-style: none;
  border-radius: 1rem;
}

.player-score {
  /* color: #000000; */
  color: hsl(224, 30%, 27%);
}

.metric-score {
  color: #8b8b8b;
  margin-left: auto;
}

.reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}
.visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.button-continue {
  width: 100%;
  height: 5.5rem;
  border: none;
  border-radius: 9000px;

  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);

  cursor: pointer;
}

.button-continue:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(120, 87, 255, 0.9),
    hsl(241, 81%, 54%)
  );
}

/********************/
/*   FOOTER   */
/********************/

.footer {
  position: absolute;
  bottom: 0.7rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
